<a href="https://colab.research.google.com/github/mfaysoares/PNAD-2015/blob/main/Estimativas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 2</font>
***

## Trabalho sobre Probabilidades, Amostragem e Estimações

Utilizando os conhecimentos adquiridos em nosso treinamento execute as tarefas abaixo. Siga o roteiro proposto e vá completando as células vazias.

# <font color=green>DATASET DO PROJETO</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

***
***

### Utilize a célula abaixo para importar as bibliotecas que precisar para executar as tarefas
#### <font color='red'>Sugestões: pandas, numpy, scipy etc.</font>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from scipy.special import comb
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import norm

### Importe o dataset e armazene o conteúdo em uma DataFrame

In [4]:
dados = pd.read_csv('dados.csv')

### Visualize o conteúdo do DataFrame

In [5]:
dados.head(5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# <font color='green'>Problema A</font>

Avaliando nosso dataset é possível verificar que a **proporção de homens** como chefes de domicílios é de quase **70%**. Precisamos **selecionar aleatoriamente grupos de 10 indivíduos** para verificar as diferenças entre os rendimentos em cada grupo. Qual a **probabilidade de selecionamos um grupo que apresente a mesma proporção da população**, ou seja, selecionarmos um grupo que seja **composto por 7 homens e 3 mulheres**?

#### <font color='blue'>Como tarefa extra, verifique a real proporção de homens e mulheres em nosso dataset (vimos como fazer isso em nosso primeiro curso de estatística).</font>

#### <font color='red'>Verifique que tipo de distribuição de probabilidade se encaixa neste experimento.</font>

### Solução

In [15]:
#PROBABILIDADES
#SUCESSO
p = 0.7

#FRACASSO
q = 1 - p

In [16]:
#NUMERO DE EVENTOS
n = 10

In [17]:
#NUMERO DE EVENTOS DESEJADOS
k = 7

In [20]:
from scipy.stats import binom
Pk = binom.pmf(k, n, p)
print(f'A probabilidade de selecionarmos um grupo que apresente a mesma proporção da população é de {round(Pk * 100, 2)}%')

A probabilidade de selecionarmos um grupo que apresente a mesma proporção da população é de 26.68%

In [19]:
#TAREFA EXTRA
dados['Sexo'].value_counts(normalize = True)

0    0.692998
1    0.307002
Name: Sexo, dtype: float64

# <font color='green'>Problema B</font>

Ainda sobre a questão anterior, **quantos grupos de 10 indivíduos** nós precisaríamos selecionar, de forma aleatória, para conseguir **100 grupos compostos por 7 homens e 3 mulheres**?

#### <font color='red'>Lembre-se da forma de cálculo da média de uma distribuição binomial</font>

### Solução

In [22]:
n = 100 / Pk
n = int(n.round())
print(f'Serão necessários {n} grupos!')

Serão necessários 375 grupos!

# <font color='green'>Problema C</font>

Um cliente nos encomendou um estudo para avaliar o **rendimento dos chefes de domicílio no Brasil**. Para isso precisamos realizar uma nova coleta de dados, isto é, uma nova pesquisa de campo. Após reunião com o cliente foi possível elencar o seguinte conjunto de informações:

> A. O resultado da pesquisa precisa estar pronto em **2 meses**;

> B. Teremos somente **R$\$$ 150.000,00** de recursos para realização da pesquisa de campo; e
    
> C. Seria interessante uma **margem de erro não superior a 10% em relação a média estimada**.

Em nossa experiência com estudos deste tipo, sabemos que o **custo médio por indivíduo entrevistado fica em torno de R$\$$ 100,00**. Com este conjunto de fatos avalie e obtenha o seguinte conjunto de informações para passar ao cliente:


> 1. Para obter uma estimativa para os parâmetros da população (renda dos chefes de domicílio no Brasil), realize uma amostragem aleatória simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a média e o desvio-padrão dessa amostra.
    
> 2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necessários para garantir os **níveis de confiança de 90%, 95% e 99%**.
    
> 3. Obtenha o **custo da pesquisa** para os três níveis de confiança.
    
> 4. Para o maior nível de confiança viável (dentro do orçamento disponível), obtenha um **intervalo de confiança para a média da população**.
    
> 5. Assumindo o **nível de confiança escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?
    
> 6. Assumindo um **nível de confiança de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em relação a média estimada?

# <font color='blue'>Solução do item 1</font>

### Seleção de uma amostra aleatório simples

#### <font color='red'>Lembre-se de utilizar *random_state = 101*</font>

In [24]:
n = 200
amostra = dados.sample(n = n, random_state = 101)
amostra.head()

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
29042  29     0     39    8               5    480  1.719128
62672  43     0     55    2               6    250  1.639205
29973  29     1     36    2              12    788  1.654122
22428  26     0     46    8               8   1680  1.622450
55145  41     0     37    2               9   2500  1.625268

In [26]:
renda_media = amostra['Renda'].mean()
print(f'A renda média é de R$ {round(renda_media, 2)}')

A renda média é de R$ 1964.2

In [27]:
desvio_padrao = amostra['Renda'].std()
print(f'O desvio padrão é de R$ {round(desvio_padrao, 2)}')

O desvio padrão é de R$ 3139.89

### Dados do problema

In [28]:
media_amostra = amostra.mean()
desvpad_amostra = amostra.std()
recursos = 150000
custo_entrevista = 100

# <font color='blue'>Solução do item 2</font>

### Obtenha a margem de erro

#### <font color='red'>Lembre-se que a margem de erro deve estar na mesma unidade da variável que está sendo estudada (R$)</font>

In [31]:
e = 0.10 * media_amostra

### Tamanho da amostra ($1 - \alpha = 90\%$)

In [35]:
N_90 = 0.5 + (0.9 / 2)
N_90

0.95

In [44]:
Z90 = norm.ppf(N_90)
n_90 = ((Z90 * desvpad_amostra['Renda'] / e['Renda'])) ** 2

print(f'Para um nível de confiança de 90% devemos selecionar {int(round(n_90))} elementos')

Para um nível de confiança de 90% devemos selecionar 691 elementos

### Tamanho da amostra ($1 - \alpha = 95\%$)

In [46]:
N_95 = 0.5 + (0.95 / 2)
N_95

0.975

In [47]:
Z95 = norm.ppf(N_95)
n_95 = ((Z95 * desvpad_amostra['Renda'] / e['Renda'])) ** 2

print(f'Para um nível de confiança de 95% devemos selecionar {int(round(n_95))} elementos')

Para um nível de confiança de 95% devemos selecionar 982 elementos

### Tamanho da amostra ($1 - \alpha = 99\%$)

In [48]:
N_99 = 0.5 + (0.99 / 2)
N_99

0.995

In [49]:
Z99 = norm.ppf(N_99)
n_99 = ((Z99 * desvpad_amostra['Renda'] / e['Renda'])) ** 2

print(f'Para um nível de confiança de 99% devemos selecionar {int(round(n_99))} elementos')

Para um nível de confiança de 99% devemos selecionar 1695 elementos

# <font color='blue'>Solução do item 3</font>

### Custo da pesquisa para o nível de confiança de 90%

In [51]:
custo_90 = n_90 * custo_entrevista
print(f'Para um nível de confiança de 90%, temos um custo total de R$ {round(custo_90, 2)}')

Para um nível de confiança de 90%, temos um custo total de R$ 69136.68

### Custo da pesquisa para o nível de confiança de 95%

In [52]:
custo_95 = n_95 * custo_entrevista
print(f'Para um nível de confiança de 95%, temos um custo total de R$ {round(custo_95, 2)}')

Para um nível de confiança de 95%, temos um custo total de R$ 98163.53

### Custo da pesquisa para o nível de confiança de 99%

In [53]:
custo_99 = n_99 * custo_entrevista
print(f'Para um nível de confiança de 99%, temos um custo total de R$ {round(custo_99, 2)}')

Para um nível de confiança de 99%, temos um custo total de R$ 169546.24

# <font color='blue'>Solução do item 4</font>

In [55]:
alpha = 0.95
intervalo = norm.interval(alpha = alpha, loc = media_amostra['Renda'], scale = desvpad_amostra['Renda'] / np.sqrt(n_95))
intervalo

(1767.7845, 2160.6255)

# <font color='blue'>Solução do item 5</font>

In [56]:
#TAMANHO DA AMOSTRA  = TOTAL DE ENTREVISTAS DISPONIVEIS COM O RECURSO
n = recursos / custo_entrevista
n

1500.0

In [57]:
z = norm.ppf(0.95)
e = z * (desvpad_amostra['Renda']) / (np.sqrt(n))
e

133.35074330975897

In [60]:
e_percentual = e / media_amostra['Renda']
print(f'A nova margem de erro é de {e_percentual * 100}%.')

A nova margem de erro é de 6.789044081944551%.

# <font color='blue'>Solução do item 6</font>

In [64]:
#ERRO EM REAIS
e_reais = 0.05 * media_amostra['Renda']
e_reais

98.21025

In [66]:
#NÚMERO DE ENTREVISTADOS
z = norm.ppf(0.95)
n = (z * (desvpad_amostra['Renda'] / e_reais)) ** 2
n

2765.4671727951786

In [68]:
custo_total = custo_entrevista * n
print(f'Considerando um nível de confiança de 95%, a pesquisa terá um custo total de R$ {round(custo_total,2)}')

Considerando um nível de confiança de 95%, a pesquisa terá um custo total de R$ 276546.72